ion-content {
    --background: black;
}

#video {
    height: 100%;
}

#icon-wrapper-booking {
    background: var(--mainColor);
    height: 45px;
    width: 45px;
    border-radius:50%;
    border: none;
    display: flex;
    left: 7%;
    position: absolute;
    margin-top: 15px;
    z-index: 99999;
    align-items: center;
    color: white;
    ion-icon {
      height: 80%;
      width: 80%;
      margin-left: 1px;
    }
 }

.mainContent
{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    overflow: hidden ;
    text-align: center;
}

#title {
  font-size: calc(1vw + 12px);
}

.fadeOut
{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
}
.fadeIn
{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.playBtn {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  --background: rgba(124, 111, 178, 0.8);
  font-size: 90px;
}

.rewindBtn {
  position: absolute;
  display: flex;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  --background: rgba(124, 111, 178, 0.8);
  font-size: 20px;
}

.forwardBtn {
  position: absolute;
  display: flex;
  top: 50%;
  right: 35%;
  transform: translate(50%, -50%);
  font-size: 20px;
  --background: rgba(124, 111, 178, 0.8);
}

ion-grid {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.progressProperty {
  width: 100%;
  justify-content: center;
  height: 100%;
}

.progressBar { 
  width: 100%; 
  accent-color: var(--mainColor); 
  transition: width 0.1s linear;
  border-radius: 10px;
}

#myRange {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#current-time {
  font-size: 16px;
}

#max-duration {
  font-size: 16px;
}

.playNextHidden {
  visibility: hidden;
}

#playNext {
  position: absolute;
  right: 10%;
  bottom: 20%;
  --background: var(--mainColor);
}

.loaderHidden {
  visibility: hidden;
}

.showLoader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--mainColor);
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

.main-overlay-visible {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  position: absolute;
  top: 0;
}

.main-overlay-hidden {
  visibility: hidden;
  opacity: 0;
}

.alwaysHide {
  visibility: hidden;
}

.hidePlayBtn {
  visibility: hidden;
}

input[type=range]{
  pointer-events: none;
}
input[type=range]::-webkit-slider-thumb{/*Webkit Browsers like Chrome and Safari*/
  pointer-events: auto;
}
input[type=range]::-moz-range-thumb{/*Firefox*/
  pointer-events: auto;
}
input[type=range]::-ms-thumb{/*Internet Explorer*/
  pointer-events: auto;
}