ion-content {
    --background: black;
    position: relative;
}

ion-icon {
  color: white;
}

#videoContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 2147483647 ;

  .qualityAlertContainer {
    position: absolute;
  }
}

#video {
  height: 100%;
}

#icon-wrapper-booking {
    background: var(--mainColor);
    height: 45px;
    width: 45px;
    border-radius:50%;
    border: none;
    display: flex;
    left: 7%;
    position: absolute;
    margin-top: 15px;
    z-index: 99999;
    align-items: center;
    color: white;
    ion-icon {
      height: 80%;
      width: 80%;
      margin-left: 1px;
    }
 }

.mainContent
{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden ;
    text-align: center;
    
}

#title {
  font-size: calc(1vw + 12px);
  color: white;
}

.fadeOut
{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s linear;
}
.fadeIn
{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s linear;
}

.playBtn {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  height: 80px;
  width: 80px;
  transform: translate(-50%, -50%);
  --background: rgba(124, 111, 178, 0.8);
  font-size: 90px;

}

.rewindBtn {
  position: absolute;
  display: flex;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  --background: rgba(124, 111, 178, 0.8);
  font-size: 20px;
}

.forwardBtn {
  position: absolute;
  display: flex;
  top: 50%;
  right: 35%;
  transform: translate(50%, -50%);
  font-size: 20px;
  --background: rgba(124, 111, 178, 0.8);
}

ion-grid {
  position: absolute;
  bottom: 0;
  width: 100%;

}

.progressProperty {
  width: 50vw;
  justify-content: center;
  height: 50px;
}

.progressBar { 
  // width: 100%; 
  accent-color: var(--mainColor); 
  transition: width 0.1s linear;
  border-radius: 10px;
}

#myRange {
  position: absolute;
  top: -5px;
  bottom: 0;
  left: 20px;
  right: 20px;
}

#current-time {
  font-size: 14px;
  color: white;
}

.currentTimeContainer {
  height: 50px;
}

#max-duration {
  font-size: 14px;
  color: white;
}

.durationContainer {
  height: 50px;
}

.playNextHidden {
  visibility: hidden;
}

#playNext {
  position: absolute;
  right: 10%;
  bottom: 20%;
  --background: var(--mainColor);
  z-index: 99999999;
  color: white;
}

.loaderHidden {
  visibility: hidden;
}

.showLoader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: var(--mainColor);
  animation: l15 1s infinite linear;
}

.loader::before,
.loader::after {    
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: l15 2s infinite;
}

.loader::after {
  margin: 8px;
  animation-duration: 3s;
}
@keyframes l15{ 
  100%{transform: rotate(1turn)}
}

.cursorHidden {
  cursor: none !important;
}

.main-overlay-visible {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
  position: absolute;
  top: 0;
}

.main-overlay-hidden {
  visibility: hidden;
  opacity: 0;
}

.alwaysHide {
  visibility: hidden;
}

.alwaysShow {
  visibility: visible !important;
}

.hidePlayBtn {
  visibility: hidden;
}

input[type=range]{
  pointer-events: none;
}
input[type=range]::-webkit-slider-thumb{/*Webkit Browsers like Chrome and Safari*/
  pointer-events: auto;
}
input[type=range]::-moz-range-thumb{/*Firefox*/
  pointer-events: auto;
}
input[type=range]::-ms-thumb{/*Internet Explorer*/
  pointer-events: auto;
}

.vidQuality {
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: 50px;

  ion-icon {
    margin: auto;
  }
}

.fsIcon {
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  width: 50px;
  height: 50px;

  ion-icon {
    margin: auto;
  }
}


ion-row {
  width: 100%;
}

.qualityContainer {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 9999999;

  .qualityLbl {
    margin: 5px auto;
    font-size: 16px;
    font-weight: 900;
    color: white;
  }

  .closeQuality {
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 10px;
    background-color: var(--secColor);
    padding: 10px;
    cursor: pointer;
  }
}

.qualityList {
  width: 200px;
  height: 330px;
  border-radius: 15px;
  background-color: var(--mainColor);
  color: white;
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  // right: 85px;
  // bottom: 0;
  // top: 0;
  text-align: center;
}

.perQuality {
  display: flex;
  margin-left: 30px;
  cursor: pointer;
  p {
    margin-left: 20px;
  }
}

.qualityContainerHidden {
  visibility: hidden;
}

.dismissQualityContainer {
  height: 100%;
  width: 100%;
}

input {
  accent-color: var(--secColor);
}

.volumeCol {
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 50px;
}

.volumeControlHidden {
  visibility: hidden;
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  text-align: center;
}

.volumeControl {
  position: absolute;
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  writing-mode: vertical-lr;
  direction: rtl;
  appearance: slider-vertical;
}

.volumeContainer {
  position: relative;
  height: 150px;
  width: 50px;
  display: flex;
  text-align: center;
}

.volumeIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 0;
  display: flex;

  ion-icon {
    margin: auto;
  }
}

ion-col {
  padding: 0;
  min-width: 50px;
}

.progressCol {
  height: 50px;
}