<ion-content [fullscreen]="true">
  @if(isAndroid) {
    <div id="videoContainer">
      <video id="video" poster="{{data.image}}" width="100%" cache-view="false" (ended)="videoEnded()"></video>
    
      <div class="mainContent" id="mainContent" (click)="toggleOverlayByUser()">

        <div class="qualityContainer qualityContainerHidden" id="qualityContainer">
          <div class="dismissQualityContainer" (click)="hideQualityContainer()">
          </div>
          <div class="qualityList">
            <p class="qualityLbl">Select Quality</p>
            <label class="perQuality" *ngFor="let quality of alertInputs.values; let i = index">
              @if (i == 0) {
                <input type="radio" id="{{quality.id}}" name="quality" value="{{quality.value}}" checked (change)="onItemChange($event)">
                <p>{{quality.value}}</p>
              }
  
              @else {
                <input type="radio" id="{{quality.id}}" name="quality" value="{{quality.value}}" (change)="onItemChange($event)">
                <p>{{quality.value}}</p>
              }
            </label>
            <div class="closeQuality" (click)="hideQualityContainer()">
              Close
            </div>
          </div>
        </div>

        <div class="overlay-visible main-overlay-visible" id="overlay">
          <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
          <div class="overlayElements">
            <p id="title">{{displayTitle}}</p>
        
          <ion-button class="rewindBtn alwaysHide" id="rewindBtn" shape="round" (click)="rewindVideo()">
            <ion-icon slot="icon-only" id="icon" name="play-back"></ion-icon>
          </ion-button>
    
          <ion-button class="playBtn" id="btnID" shape="round" (click)="playPauseVideo()">
              <ion-icon slot="icon-only" id="icon" name="{{icon_name}}"></ion-icon>
          </ion-button>
        
          <ion-button class="forwardBtn alwaysHide" id="forwardBtn" shape="round" (click)="forwardVideo()">
            <ion-icon slot="icon-only" id="icon" name="play-forward"></ion-icon>
          </ion-button>
          
          <ion-grid [fixed]="true" class="progressBar alwaysHide" id="progressMain">
            <ion-row class="ion-align-items-end ion-justify-content-center">

              <ion-col size="1" class="ion-text-end currentTimeContainer">
                <p id="current-time" class="current-time">00:00</p>
              </ion-col>
                
              <ion-col class="progressCol" size="6">
                <div class="progressProperty" id="progressID">
                  <input type="range" max="100" value="0" step="1" class="progressBar" id="myRange">
                </div>
              </ion-col>
    
              <ion-col size="1" class="ion-text-start durationContainer">
                <p id="max-duration" class="max-duration">00:00</p>
              </ion-col>


              <ion-col size="auto" class="vidQuality" (click)="showQualityContainer()">
                <ion-icon name="settings-sharp"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          </div>
        </div>
      </div>
      <div class="showLoader loaderHidden" id="loaderContainer" (click)="toggleOverlayByUser()">
        <div class="loader" id="loader"></div>
      </div>
      <ion-button class="playNextHidden" id="playNext" (click)="playNextVid()">Play Next</ion-button>
    </div>
  }

  @else {
    <div (document:mousemove)="onMouseMove($event)" id="videoContainer">
      <video id="video" poster="{{data.image}}" width="100%" cache-view="false" (ended)="videoEnded()"></video>
      <div class="mainContent" id="mainContent" (click)="toggleOverlayByUser()"  (dblclick)="toggleFullscreen()">
        <div class="qualityContainer qualityContainerHidden" id="qualityContainer">
          <div class="dismissQualityContainer" (click)="hideQualityContainer()">
          </div>
          <div class="qualityList">
            <p class="qualityLbl">Select Quality</p>
            <label class="perQuality" *ngFor="let quality of alertInputs.values; let i = index">
              @if (i == 0) {
                <input type="radio" id="{{quality.id}}" name="quality" value="{{quality.value}}" checked (change)="onItemChange($event)">
                <p>{{quality.value}}</p>
              }
  
              @else {
                <input type="radio" id="{{quality.id}}" name="quality" value="{{quality.value}}" (change)="onItemChange($event)">
                <p>{{quality.value}}</p>
              }
            </label>
            <div class="closeQuality" (click)="hideQualityContainer()">
              Close
            </div>
          </div>
        </div>

        <div class="overlay-visible main-overlay-visible" id="overlay">
          <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
          <div class="overlayElements">
            <p id="title">{{displayTitle}}</p>
        
          <ion-button class="rewindBtn alwaysHide" id="rewindBtn" shape="round" (click)="rewindVideo()">
            <ion-icon slot="icon-only" id="icon" name="play-back"></ion-icon>
          </ion-button>
    
          <ion-button class="playBtn" id="btnID" shape="round" (click)="playPauseVideo()">
              <ion-icon slot="icon-only" id="icon" name="{{icon_name}}"></ion-icon>
          </ion-button>
        
          <ion-button class="forwardBtn alwaysHide" id="forwardBtn" shape="round" (click)="forwardVideo()">
            <ion-icon slot="icon-only" id="icon" name="play-forward"></ion-icon>
          </ion-button>
          
          <ion-grid [fixed]="true" class="progressBar alwaysHide" id="progressMain">
            <ion-row class="ion-align-items-end ion-justify-content-center">

              <ion-col size="1" class="ion-text-end currentTimeContainer">
                <p id="current-time" class="current-time">00:00</p>
              </ion-col>
                
              <ion-col class="progressCol" size="6">
                <div class="progressProperty" id="progressID">
                  <input type="range" max="100" value="0" step="1" class="progressBar" id="myRange">
                </div>
              </ion-col>
    
              <ion-col size="1" class="ion-text-start durationContainer">
                <p id="max-duration" class="max-duration">00:00</p>
              </ion-col>

              <ion-col size="auto" class="volumeCol">
                <div class="volumeContainer " id="volumeContainer" (mouseleave)="hideVolumeRange()">
                  <input class="volumeControl fadeOut volumeControlHidden" id="volumeRange" type="range" max="1" step="0.01" value="1" orient="vertical" (input)="adjustVolume($event)" />
                  <div class="volumeIcon" (click)="muteUnmute()"  (mouseenter)="showVolumeRange()">
                    <ion-icon name="{{volumeIcon}}"></ion-icon>
                  </div>
                </div>
              </ion-col>

              <ion-col size="auto" class="vidQuality" (click)="showQualityContainer()">
                <ion-icon name="settings-sharp"></ion-icon>
              </ion-col>

              <ion-col size="auto"class="fsIcon" (click)="toggleFullscreen()">
                <ion-icon id="fs" name="{{fsIcon}}"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-grid>
          </div>
        </div>
      </div>
      <div class="showLoader loaderHidden" id="loaderContainer" (click)="toggleOverlayByUser()">
        <div class="loader" id="loader"></div>
      </div>
      <ion-button class="playNextHidden" id="playNext" (click)="playNextVid()">Play Next</ion-button>
    </div>
  }
</ion-content>
