<ion-content [fullscreen]="true">
  <div id="videoContainer">
    <video id="video" poster="{{data.image}}" width="100%" cache-view="false" (ended)="videoEnded()"></video>
  
  <div class="mainContent" id="mainContent" (click)="toggleOverlayByUser()"  (dblclick)="toggleFullscreen()">
    <div class="overlay-visible main-overlay-visible" id="overlay">
      <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
      <div class="overlayElements">
        <p id="title">{{displayTitle}}</p>
    
      <ion-button class="rewindBtn alwaysHide" id="rewindBtn" shape="round" (click)="rewindVideo()">
        <ion-icon slot="icon-only" id="icon" name="play-skip-back"></ion-icon>
      </ion-button>

      <ion-button class="playBtn" id="btnID" shape="round" (click)="playPauseVideo()">
          <ion-icon slot="icon-only" id="icon" name="{{icon_name}}"></ion-icon>
      </ion-button>
    
      <ion-button class="forwardBtn alwaysHide" id="forwardBtn" shape="round" (click)="forwardVideo()">
        <ion-icon slot="icon-only" id="icon" name="play-skip-forward"></ion-icon>
      </ion-button>
      
      <ion-grid class="progressBar alwaysHide" id="progressMain">
        <ion-row>
          <ion-col class="ion-text-end">
            <p id="current-time" class="current-time">00:00</p>
          </ion-col>
            
          <ion-col size="8">
            <div class="progressProperty" id="progressID">
              <input type="range" max="100" value="0" step="1" class="progressBar" id="myRange">
            </div>
          </ion-col>

          <ion-col class="ion-text-start">
            <p id="max-duration" class="max-duration">00:00</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      </div>
    </div>
  </div>
  <div class="showLoader loaderHidden" id="loaderContainer" (click)="toggleOverlayByUser()">
    <div class="loader" id="loader"></div>
  </div>
  <ion-button class="playNextHidden" id="playNext" (click)="playNextVid()">Play Next</ion-button>
</div>
</ion-content>
