<ion-header>
  <p>Title</p>
  <progress class="progress progresHidden" id="progress" max="{{max}}" value="{{current}}"></progress>
</ion-header>

<ion-content>
  
  
  <ion-list>
    <ion-item *ngFor="let episode of state">
      <ion-label>
        Episode {{episode.number}}
        <ion-icon id="icon" class="downloadIcon" name="{{iconName}}" (click)="downloadEpisode(episode)"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<!-- <ion-icon name="arrow-down-circle" (click)="downloadEpisode(episode)"></ion-icon> -->