<ion-content [fullscreen]="true">
  <p class="welcome">Welcome to Mew!</p>

  <ion-input label="Email" label-placement="floating" fill="outline" placeholder="user@user.com" [(ngModel)]="email"></ion-input>
  <ion-input label="Password" label-placement="floating" fill="outline" placeholder="password" type="password" [(ngModel)]="password"></ion-input>
  
  <p class="errorHidden" id="errorId">Incorrect email or password!</p>
  
  <ion-button class="loginBtn" (click)="login()">Login</ion-button>
  <p>Forgot Password?</p>

  <p class="loginLbl">Login with:</p>

  <div class="googleBtn" (click)="loginGoogle()">
    <img draggable="false" src="assets/icon/google.png" />
  </div>


  <p class="signupLbl" (click)="signUpPage()">Sign up here</p>
</ion-content>