ion-content {
    --background: var(--mainColor);
}

ion-searchbar {
    background-color: #1e1e1e;
    color: black;
    --background: var(--secColor);
}

ion-card {
    height: 30vh;
    font-size: 0.8em;
    position: relative;

    .img {
      height: 100%;
      background-size: 100% 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .titleContainer {
      display: flex;
      width: 100%;
      bottom: 0;
      position: absolute;
      min-height: 30%;
      background-color: #1e1e1eaf;
    }
  }


// .label {
//     position: absolute;
//     top: 8%;
// }