ion-content {
    --background: var(--mainColor);
}

ion-searchbar {
    background-color: #1e1e1e;
    color: black;
}

ion-card {
    background-color: #1e1e1e;
}

// .label {
//     position: absolute;
//     top: 8%;
// }