ion-content {
  --background: var(--mainColor);
}

ion-card-title {
  color: white;
}

  ion-header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: var(--mainColor);

    p {
      font-size: 40px;
      font-weight: 900;
      margin-left: 20px;
    }
  
    ion-icon {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      position: absolute;
      right: 30px;
    }
  }
  ion-card {
    height: 100%;
    font-size: 0.8em;
    position: relative;

    .img {
      width:100%;
      height:0px;
      padding-bottom:100%;
      background-size: 100% 100%;
    }

    .titleContainer {
      display: flex;
      width: 100%;
      bottom: 0;
      position: absolute;
      min-height: 30%;
      background-color: #1e1e1eaf;
    }
  }

  .chip-container {
    height: 8%;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;

    .chips {
      margin: 0 auto;
      overflow-x: scroll;
    }

    ion-chip {
      font-size: 16px;
      height: 40px;
    }
  }

  .active {
    background-color: #2e2552 !important;
  }