<ion-header>
    <p>Mew</p>
    <ion-icon name="logo-ionic"></ion-icon>
</ion-header>

<div class="chip-container">
  <div class="chips">
    <ion-chip [ngClass]="{'active' : category.pressed }" *ngFor="let category of categories" (click)="chooseCat(category)">{{category.name}}</ion-chip>
  </div>
</div>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="mid">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="6" *ngFor="let movieDetail of movieDetails">
          <ion-card (click)="showDetailsPage(movieDetail)">
          <!-- <ion-card (click)="openModal(movieDetail)"> -->
            <!-- <img *ngIf="!isAnime" src= "https://image.tmdb.org/t/p/w500{{movieDetail.poster_path}}" /> -->
            <div class="img">
              <img src= "{{movieDetail.image}}" />
            </div>
            
              <div class="titleContainer">
                <ion-card-title >{{movieDetail.displayTitle}}</ion-card-title>
              </div>
          </ion-card>
        </ion-col>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
