<ion-header>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <img draggable="false" src="{{state.image}}">
        <p>{{state.title}} ({{state.releaseDate}})</p>
        <p>Genres: {{genres}}</p>
        <p>Status: {{state.status}}</p>
        <p>Total Episodes: {{state.totalEpisodes}}</p>
      </ion-col>
      <ion-col size="6">
        <p>Summary:</p>
        <p>{{state.description}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Episode List:
      </ion-col>
    </ion-row>
    <ion-row>
      @if(!state.watchedEp) {
        <ion-col size="2" *ngFor="let episode of state.episodes" (click)="playEpisode(episode)">
          {{episode.number}}
        </ion-col>
      }

      @else {
        @for(ep of epList; track ep) {
          @if(ep.isWatched) {
            @if(ep.isFinished) {
              <ion-col size="2" class="finishedEpisode" (click)="playEpisode(ep.ep)">
                {{ep.ep.number}}
              </ion-col>
            }

            @else {
              <ion-col size="2" class="continueEpisode" (click)="playEpisode(ep.ep)">
                {{ep.ep.number}}
              </ion-col>
            }
          }
  
          @else {
            <ion-col size="2" (click)="playEpisode(ep.ep)">
              {{ep.ep.number}}
            </ion-col>
          }
        }
      }
    </ion-row>
  </ion-grid>
</ion-content>

<!-- <ion-col size="2" *ngFor="let episode of state.episodes" (click)="playEpisode(episode)">
  {{episode.number}}
</ion-col> -->