ion-header {
    background-color: var(--mainColor);
    position: relative;
    height: 6%;
}

ion-icon {
    display: flex;
    position: absolute;
    right: 0;
}

ion-content {
    --background: var(--mainColor);
}

ion-col {
    border-style: solid;
}

.finishedEpisode {
    background-color: green;
}

.continueEpisode {
    background-color: gray;
}