ion-content {
    --background: var(--mainColor);
    text-align: center;
}

.profileImage {
    width: 30%;
    height: 25%;
    margin: 0 auto;
    display: flex;
}

.watchList {
    --background: var(--secColor);
    width: 300px;
    margin: 20vh auto 0;
    display: flex;
    color: white;
}

.logout {
    --background: var(--secColor);
    width: 300px;
    margin: 20vh auto 0;
    display: flex;
    color: white;
}

span {
    color: white;
}