<ion-header>
  <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
  <div class="pageTitle">
    @if(global.isAnime) {
      <span>Your Watchlist</span>
    }
    @else {
      <span>Your Manga List</span>
    }
  </div>
</ion-header>
  <ion-content [fullscreen]="true">
  <div class="mid">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size={{colSize}} *ngFor="let data of list">
          <ion-card (click)="openDetailsModal(data)">
            <div class="img">
              <img draggable="false" src="{{data.image}}" />
            </div>
            
              <div class="titleContainer">
                @if(global.isAnime) {
                  <ion-card-title >{{data.title}}</ion-card-title>
                }

                @else {
                  @if (data.title.english) {
                    <ion-card-title >{{data.title.english}}</ion-card-title>
                  }

                  @else {
                    <ion-card-title >{{data.title.romaji}}</ion-card-title>
                  }
                }
              </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
