<ion-content [fullscreen]="true">
  <div class="pageTitle">
    <span>Your Watchlist</span>
  </div>

  <div class="mid">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <div class="img">
              <img />
            </div>
            
              <div class="titleContainer">
                <ion-card-title ></ion-card-title>
              </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
