<ion-header>
  <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
  <div class="pageTitle">
    <span>Your Watchlist</span>
  </div>
</ion-header>
  <ion-content [fullscreen]="true">
  <div class="mid">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size={{colSize}} *ngFor="let data of list">
          <ion-card (click)="openDetailsModal(data)">
            <div class="img">
              <img draggable="false" src="{{data.image}}" />
            </div>
            
              <div class="titleContainer">
                <ion-card-title >{{data.title}}</ion-card-title>
              </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
