ion-content {
    --background: var(--mainColor);
}

ion-searchbar {
    background-color: #1e1e1e;
    color: black;
    --background: var(--secColor);
}

ion-card {
  height: 100%;
  font-size: calc(1vw + 12px);
  position: relative;
  margin-top: 0;

  .img {
    height: 100%;
    background-size: 100% 100%;
    img {
      width: 500px;
      height: 100%;
    }
  }

  .titleContainer {
    display: flex;
    width: 100%;
    bottom: 0;
    position: absolute;
    min-height: 30%;
    background-color: #1e1e1eaf;
  }
}


// .label {
//     position: absolute;
//     top: 8%;
// }