ion-content {
  --background: var(--mainColor);
}

ion-card-title {
  color: white;
}

ion-header {
  color: white;
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: var(--mainColor);

  p {
    font-size: 40px;
    font-weight: 900;
    margin-left: 20px;
  }

  .downloadApp {
    width: 170px;
    border-radius: 10px;
    position: absolute;
    right: 100px;
    font-size: 16px;
    background-color: var(--secColor);
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
  }

  ion-icon {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
  }
}

.mid {
  position: relative;
  z-index: -99999;
  margin-top: 8vh;
}

ion-card {
  height: 100%;
  font-size: calc(1vw + 12px);
  position: relative;
  margin-top: 0;

  .img {
    height: 100%;
    background-size: 100% 100%;
    img {
      width: 500px;
      height: 100%;
    }
  }

  .titleContainer {
    display: flex;
    width: 100%;
    bottom: 0;
    position: absolute;
    min-height: 30%;
    background-color: #1e1e1eaf;
  }
}

.chips {
  width: 100%;
  height: fit-content;
  background-color: var(--mainColor);
  position: fixed;
  height: 8vh;
}

.chip-container {
  height: 8vh;
  background-color: var(--mainColor);
  display: flex;
  overflow-x: scroll;
  align-items: center;
  padding: 0 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;

  .button-chip {
    color: white;
    font-size: 16px;
    padding: 10px;
    height: 40px;
    margin: 0 5px;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2e2552;
    background-color: var(--mainColor);
    white-space: nowarp;
  }
}

.active {
  background-color: #2e2552 !important;
  border: 2px solid #2e2552 !important;
}

ion-icon {
  cursor: pointer;
}

ion-segment {
  --background: var(--secColor);
  width: 90%;
  max-width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

ion-segment-button::part(indicator-background) {
  background: var(--mainColor);
}

ion-searchbar {
  background-color: var(--secColor);
  color: white;
  --background: var(--mainColor);
  height: 50px;
}

.searchBar {
  position: fixed;
  width: 100%;
  background-color: var(--mainColor);
}

.results {
  position: relative;
  z-index: -99999;
  // margin-top: 18vh;
}

.mangaContainer {
  margin-top: 18vh;
}

.label {
  color: white;
  font-size: 24px;
}

.spacer {
  height: 50px;
  width: 100%;
}