<ion-header>
    <p>Mew</p>
    <ion-icon name="person-circle" (click)="openProfile()"></ion-icon>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="chips">
    <div class="chip-container">
      <button class="button-chip" [ngClass]="{'active' : category.pressed }" *ngFor="let category of categories" (click)="chooseCat(category)">{{category.name}}</button>
    </div>
  </div>
  <div class="mid">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col (window:resize)="onResize($event)" size={{colSize}} *ngFor="let movieDetail of movieDetails">
          <ion-card (click)="showDetailsPage(movieDetail)">
            <div class="img">
              <img draggable="false" src= "{{movieDetail.image}}" />
            </div>
              <div class="titleContainer">
                <ion-card-title >{{movieDetail.displayTitle}}</ion-card-title>
              </div>
          </ion-card>
        </ion-col>
        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
