<!-- <ion-header class="header">
  <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
  <p>{{data.original_title}}</p>
</ion-header> -->
<ion-content [fullscreen]="true">

  

  
  <!-- <div class="mainContent" (click)="toggleOverlayByUser()">
    <video id="video" cache-view="false" width="100%" height="auto"></video>
  </div> -->
  
<div class="mainContent" (click)="toggleOverlayByUser()">

  <div class= "overlay-visible top-overlay-visible" id="topOverlay">
    <div id="icon-wrapper-booking" (click)="goBack()"><ion-icon name="chevron-back-outline"></ion-icon></div>
    <div class="topOverlayElement">
        <span>{{data.displayTitle}}</span>
    </div>
  </div>

  <!-- <video *ngIf="!data.isAnime" id="video" autoplay [src]="trustedVideoUrl" height="100wh" cache-view="false" type="video/mp4" ></video> -->
  <div class="iframe-disable-background" ng-show="isEnable">
  <iframe cache-view="false" width="100%" height="315" [src]="trustedVideoUrl" frameborder="0" sandbox="allow-same-origin allow-scripts"></iframe>
  </div>
  <!-- <video id="video" poster="{{data.image}}" height="100wh" cache-view="false" ></video> -->

  <div class= "overlay-visible bottom-overlay-visible" id="bottomOverlay">
    <div class="bottomOverlayElement">
        <span>Bottom Overlay Text or Buttons</span>
        <!-- <button ion-button  clear class="ionButton" (click)="resetIdleTimer()">Reset</button> -->
    </div>
  </div>

</div>

</ion-content>

