ion-content {
    --background: var(--mainColor);
}

ion-header {
    height: 8%;
    text-align: center;

    p {
        margin: 0 auto;
        font-size: 26px;
        font-weight: 900;
        width: 60%;
        margin-top: 2%;
    }
}

#icon-wrapper-booking {
    background: white;
    height: 35px;
    width: 35px;
    border-radius:50%;
    border: none;
    display: flex;
    left: 20px;
    position: absolute;
    margin-top: 5%;

     ion-icon {
      font-size: 30px; 
      padding:2px;
      color: black;
    }
 }